body {
    background-image: url(../resources/trans-flag.png);

    display: flex;
    justify-content: center;
}

main {
    margin-top: 3vw;
    height: 30vw;
    width: 30vw;
    background-color: rgb(21, 21, 21, 0.8);
}

h1, p {
    margin-left: 1vw;
    color: white;
}